[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "etl"]
	path = etl
	url = https://github.com/ETLCPP/etl.git
